meta(http-equiv='content-type', content='text/html;charset=UTF-8')
// /Added by HTTrack
head
  // <link rel="stylesheet" href="css/pagination.css">
  // <link href="css/pagination.css" rel="stylesheet/scss" type="text/css">
  // Google Tag Manager
  // End Google Tag Manager
  meta(charset='utf-8')
  title Metronic Live preview | Keenthemes
  // <script src="js/paginga.jquery.min.js"></script>
  meta(name='description', content='Metronic admin dashboard live demo. Check out all the features of the admin panel. A large number of settings, additional services and widgets.')
  meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
  base(href="/")
  // <link rel="canonical" href="https://keenthemes.com/metronic" />
  // begin::Fonts
  style.
    @keyframes example {
    from {
    margin-top: -20px;
    }
    to {
    margin-top: 0px;
    }
    }
        
    .anim {
    display: flex !important;
    padding: 10px;
    text-align: center;
    animation-name: example;
    animation-duration: 1s;
    }
    .as{
      position: fixed;
      top: 0%;
      left: 50%;
      transform: translate(-50%, 0);
      margin: auto !important;
      background-color: rgb(248, 222, 113);
      width: 300px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      height: 70px;
      z-index: 9999;
      display: none;
    }
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/1.11.3/css/dataTables.bootstrap4.min.css')
  link(rel='stylesheet', href='https://cdn.datatables.net/responsive/2.2.9/css/responsive.bootstrap4.min.css')
  // end::Fonts
  // begin::Page Vendors Styles(used by this page)
  link(rel='stylesheet', type='text/css', href='js/coloris.min.css')
  // <link rel="stylesheet" href="css/bootstrap.min.css">
  // end::Page Vendors Styles
  // begin::Global Theme Styles(used by all pages)
  link(href='js/plugins/global/plugins.bundle8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  link(href='js/plugins/custom/prismjs/prismjs.bundle8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  link(href='js/css/style.bundle8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  // end::Global Theme Styles
  // begin::Layout Themes(used by all pages)
  link(href='js/css/themes/layout/header/base/light8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  link(href='js/css/themes/layout/header/menu/light8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  link(href='js/css/themes/layout/brand/dark8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  link(href='js/css/themes/layout/aside/dark8bf5.css?v=7.2.4', rel='stylesheet', type='text/css')
  // <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  // end::Layout Themes
  link(rel='stylesheet', href='css/main.css')
  link(rel='stylesheet', href='css/stylee.css')
// end::Head
// begin::Body
// Google Tag Manager (noscript)
noscript
  iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5FS8GGP', height='0', width='0', style='display: none; visibility: hidden')
// End Google Tag Manager (noscript)
// begin::Main
// begin::Header Mobile
div
div(class="as")
  | Password is same
#kt_header_mobile.header-mobile.align-items-center.header-mobile-fixed
  // begin::Logo
  a.text-light(href='index.html', style='font-size:15px !important;')
    | User Admin
  // end::Logo
  // begin::Toolbar
  .d-flex.align-items-center
    // begin::Aside Mobile Toggle
    button#kt_aside_mobile_toggle.btn.p-0.burger-icon.burger-icon-left
      span
    // end::Aside Mobile Toggle
    // begin::Header Menu Mobile Toggle
    button#kt_header_mobile_toggle.btn.p-0.burger-icon.ml-4
      span
    // end::Header Menu Mobile Toggle
    // begin::Topbar Mobile Toggle
    button#kt_header_mobile_topbar_toggle.btn.btn-hover-text-primary.p-0.ml-2
      span.svg-icon.svg-icon-xl
        // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/General/User.svg
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
          g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
            polygon(points='0 0 24 0 24 24 0 24')
            path(d='M12,11 C9.790861,11 8,9.209139 8,7 C8,4.790861 9.790861,3 12,3 C14.209139,3 16,4.790861 16,7 C16,9.209139 14.209139,11 12,11 Z', fill='#000000', fill-rule='nonzero', opacity='0.3')
            path(d='M3.00065168,20.1992055 C3.38825852,15.4265159 7.26191235,13 11.9833413,13 C16.7712164,13 20.7048837,15.2931929 20.9979143,20.2 C21.0095879,20.3954741 20.9979143,21 20.2466999,21 C16.541124,21 11.0347247,21 3.72750223,21 C3.47671215,21 2.97953825,20.45918 3.00065168,20.1992055 Z', fill='#000000', fill-rule='nonzero')
        // end::Svg Icon
    // end::Topbar Mobile Toggle
  // end::Toolbar
// end::Header Mobile
.d-flex.flex-column.flex-root
  // begin::Page
  .d-flex.flex-row.flex-column-fluid.page
    // begin::Aside
    #kt_aside.aside.aside-left.aside-fixed.d-flex.flex-column.flex-row-auto
      // begin::Brand
      #kt_brand.brand.flex-column-auto.heresligas.openha
        // begin::Logo
        a.brand-logo.text-light.font-weight-bold(href='index.html', style='font-size: 20px !important; display: flex; justify-content: center; align-items: center; z-index:999')
          img(src='/images/logo.png', width='50px', alt='')
          span(style='margin-left: 5px; font-size: 30px; font-weight: bolder;')
            span(style='color:black;') B
            span(style='color: #f0ab46') HIVE Labs Admin
        // end::Logo
        // begin::Toggle
        button#kt_aside_toggle.brand-toggle.btn.btn-sm.px-0(style="z-index:999")
          span.svg-icon.svg-icon.svg-icon-xl
            // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Navigation/Angle-double-left.svg
            svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
              g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                polygon(points='0 0 24 0 24 24 0 24')
                path(d='M5.29288961,6.70710318 C4.90236532,6.31657888 4.90236532,5.68341391 5.29288961,5.29288961 C5.68341391,4.90236532 6.31657888,4.90236532 6.70710318,5.29288961 L12.7071032,11.2928896 C13.0856821,11.6714686 13.0989277,12.281055 12.7371505,12.675721 L7.23715054,18.675721 C6.86395813,19.08284 6.23139076,19.1103429 5.82427177,18.7371505 C5.41715278,18.3639581 5.38964985,17.7313908 5.76284226,17.3242718 L10.6158586,12.0300721 L5.29288961,6.70710318 Z', fill='#000000', fill-rule='nonzero', transform='translate(8.999997, 11.999999) scale(-1, 1) translate(-8.999997, -11.999999)')
                path(d='M10.7071009,15.7071068 C10.3165766,16.0976311 9.68341162,16.0976311 9.29288733,15.7071068 C8.90236304,15.3165825 8.90236304,14.6834175 9.29288733,14.2928932 L15.2928873,8.29289322 C15.6714663,7.91431428 16.2810527,7.90106866 16.6757187,8.26284586 L22.6757187,13.7628459 C23.0828377,14.1360383 23.1103407,14.7686056 22.7371482,15.1757246 C22.3639558,15.5828436 21.7313885,15.6103465 21.3242695,15.2371541 L16.0300699,10.3841378 L10.7071009,15.7071068 Z', fill='#000000', fill-rule='nonzero', opacity='0.3', transform='translate(15.999997, 11.999999) scale(-1, 1) rotate(-270.000000) translate(-15.999997, -11.999999)')
            // end::Svg Icon
        // end::Toolbar
      // end::Brand
      // begin::Aside Menu
      #kt_aside_menu_wrapper.aside-menu-wrapper.flex-column-fluid
        // begin::Menu Container
        #kt_aside_menu.aside-menu.my-4(data-menu-vertical='1', data-menu-scroll='1', data-menu-dropdown-timeout='500')
          // begin::Menu Nav
          ul.menu-nav
            li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
              a.menu-link.menu-toggle.abcd(href='/Profile')
                span.svg-icon.menu-icon
                  // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Barcode-read.svg
                  img(src='/images/staff.png', style='width: 20px;', alt='')
                  // end::Svg Icon
                span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold;') Profile
            li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
              a.menu-link.menu-toggle.abcd(href='/staff')
                span.svg-icon.menu-icon
                  // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Barcode-read.svg
                  img(src='/images/staff.png', style='width: 20px;', alt='')
                  // end::Svg Icon
                span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold;') Staff
            li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
              a.menu-link.menu-toggle.abcd(href='/locations')
                span.svg-icon.menu-icon
                  // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Barcode-read.svg
                  img(src='/images/pin.png', style='width: 20px;', alt='')
                  // end::Svg Icon
                span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold;') Location
            li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
              a.menu-link.menu-toggle.abcd(href='javascript:;')
                span.svg-icon.menu-icon
                  // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Barcode-read.svg
                  img(src='/images/admin-with-cogwheels.png', style='width: 20px;', alt='')
                  // end::Svg Icon
                span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold;') Admin
                i.menu-arrow
              .menu-submenu
                i.menu-arrow
                ul.menu-subnav
                  li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
                    a.menu-link.menu-toggle.vdf(href='/roles')
                      span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold; padding-left: 30px;') Roles & premissions
                      // <i class="menu-arrow"></i>
                  li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
                    a.menu-link.menu-toggle.vdf(href='/customizedtheme')
                      span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold; padding-left: 30px;') Customized theme
                      // <i class="menu-arrow"></i>
            li.menu-item.menu-item-submenu(aria-haspopup='true', data-menu-toggle='hover')
              a.menu-link.menu-toggle.abcd.logust(href='javascript:;')
                span.svg-icon.menu-icon
                  // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Shopping/Barcode-read.svg
                  img(src='/images/pin.png', style='width: 20px;', alt='')
                  // end::Svg Icon
                span.menu-text(style='color: rgb(95, 95, 95); font-weight: bold;') Logout
                // end::Menu Nav
          // end::Menu Nav
        // end::Menu Container
      // end::Aside Menu
    // end::Aside
    // begin::Wrapper
    #kt_wrapper.d-flex.flex-column.flex-row-fluid.wrapper
      // begin::Header
      #kt_header.header.header-fixed
        // begin::Container
        .container-fluid.d-flex.align-items-center.justify-content-between
          // begin::Header Menu Wrapper
          // begin::Header Nav
          .d-flex.okz.align-items-center.my-5(style='background-color: white;')
          // end::Header Nav
          // end::Header Menu
          // end::Header Menu Wrapper
          // begin::Topbar
          .topbar
            // begin::User
            .topbar-item
              #kt_quick_user_toggle.btn.btn-icon.btn-icon-mobile.w-auto.btn-clean.d-flex.align-items-center.btn-lg.px-2
                span.text-muted.font-weight-bold.font-size-base.d-none.d-md-inline.mr-1
                span.text-dark-50.font-weight-bolder.font-size-base.d-none.d-md-inline.mr-3 Dejure Technologies
                span.symbol.symbol-lg-35.symbol-25.symbol-light-success
                  span.symbol-label.font-size-h5.font-weight-bold S
            // end::User
          // end::Topbar
        // end::Container
      // end::Header
      // begin::Content
      #kt_content.content.d-flex.flex-column.flex-column-fluid(style='margin-top: -50px !important')
        // begin::Entry
        .d-flex.flex-column-fluid
          // begin::Container
          .container
            // begin::Card
            .card.card-custom.card-transparent
              .card-body.p-0
                // begin::Wizard
                #kt_wizard.wizard.wizard-4(data-wizard-state='step-first', data-wizard-clickable='true') 
                  block content
                    h1 shiu
                  // end::Card
                // end::Wizard
            // end::Card
          // end::Container
        // end::Entry
      // end::Content
      // begin::Footer
      // end::Footer
    // end::Wrapper
  // end::Page
// end::Main
// begin::User Panel
#kt_quick_user.offcanvas.offcanvas-right.p-10
  // begin::Header
  .offcanvas-header.d-flex.align-items-center.justify-content-between.pb-5
    h3.font-weight-bold.m-0
      | User Profile
    a#kt_quick_user_close.btn.btn-xs.btn-icon.btn-light.btn-hover-primary(href='#')
      i.ki.ki-close.icon-xs.text-muted
  // end::Header
  // begin::Content
  .offcanvas-content.pr-5.mr-n5
    // begin::Header
    .d-flex.align-items-center.mt-5
      .symbol.symbol-100.mr-5
        .symbol-label(style="\
        background-image: url('../theme/html/demo1/dist/assets/media/users/300_21.jpg');\
        ")
        i.symbol-badge.bg-success
      .d-flex.flex-column
        a.font-weight-bold.font-size-h5.text-dark-75.text-hover-primary(href='#') James Jones
        .text-muted.mt-1 Application Developer
        .navi.mt-2
          a.navi-item(href='#')
            span.navi-link.p-0.pb-2
              span.navi-icon.mr-1
                span.svg-icon.svg-icon-lg.svg-icon-primary
                  // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Communication/Mail-notification.svg
                  svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
                    g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
                      rect(x='0', y='0', width='24', height='24')
                      path(d='M21,12.0829584 C20.6747915,12.0283988 20.3407122,12 20,12 C16.6862915,12 14,14.6862915 14,18 C14,18.3407122 14.0283988,18.6747915 14.0829584,19 L5,19 C3.8954305,19 3,18.1045695 3,17 L3,8 C3,6.8954305 3.8954305,6 5,6 L19,6 C20.1045695,6 21,6.8954305 21,8 L21,12.0829584 Z M18.1444251,7.83964668 L12,11.1481833 L5.85557487,7.83964668 C5.4908718,7.6432681 5.03602525,7.77972206 4.83964668,8.14442513 C4.6432681,8.5091282 4.77972206,8.96397475 5.14442513,9.16035332 L11.6444251,12.6603533 C11.8664074,12.7798822 12.1335926,12.7798822 12.3555749,12.6603533 L18.8555749,9.16035332 C19.2202779,8.96397475 19.3567319,8.5091282 19.1603533,8.14442513 C18.9639747,7.77972206 18.5091282,7.6432681 18.1444251,7.83964668 Z', fill='#000000')
                      circle(fill='#000000', opacity='0.3', cx='19.5', cy='17.5', r='2.5')
                  // end::Svg Icon
              span.navi-text.text-muted.text-hover-primary jm@softplus.com
          a.btn.btn-sm.btn-light-primary.font-weight-bolder.py-2.px-5(href='#') Sign Out
    // end::Header
    // begin::Separator
    .separator.separator-dashed.mt-8.mb-5
    // end::Separator
    // begin::Nav
    .navi.navi-spacer-x-0.p-0
      // begin::Item
      a.navi-item(href='AdminSettings.html')
        .navi-link
          .symbol.symbol-40.bg-light.mr-3
            //
              <div class="symbol-label">
              <span class="svg-icon svg-icon-md svg-icon-success">
              <svg
              xmlns="http://www.w3.org/2000/svg"
              xmlns:xlink="http://www.w3.org/1999/xlink"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              version="1.1"
              >
              <g
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
              >
              <rect x="0" y="0" width="24" height="24" />
              <path
              d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z"
              fill="#000000"
              />
              <circle
              fill="#000000"
              opacity="0.3"
              cx="18.5"
              cy="5.5"
              r="2.5"
              />
              </g>
              </svg>
              </span>
              </div>
              </div>
            //
              <div class="navi-text">
              <div class="font-weight-bold">My Profile</div>
              <div class="text-muted">
              Account settings and more
              <span
              class="label label-light-danger label-inline font-weight-bold"
              >update</span
              >
              </div>
              </div>
      // end:Item
    // end::Nav
    // begin::Separator
    .separator.separator-dashed.my-7
    // end::Separator
  // end::Content
// begin::Scrolltop
#kt_scrolltop.scrolltop
  span.svg-icon
    // begin::Svg Icon | path:/metronic/theme/html/demo1/dist/assets/media/svg/icons/Navigation/Up-2.svg
    svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='24px', height='24px', viewbox='0 0 24 24', version='1.1')
      g(stroke='none', stroke-width='1', fill='none', fill-rule='evenodd')
        polygon(points='0 0 24 0 24 24 0 24')
        rect(fill='#000000', opacity='0.3', x='11', y='10', width='2', height='10', rx='1')
        path(d='M6.70710678,12.7071068 C6.31658249,13.0976311 5.68341751,13.0976311 5.29289322,12.7071068 C4.90236893,12.3165825 4.90236893,11.6834175 5.29289322,11.2928932 L11.2928932,5.29289322 C11.6714722,4.91431428 12.2810586,4.90106866 12.6757246,5.26284586 L18.6757246,10.7628459 C19.0828436,11.1360383 19.1103465,11.7686056 18.7371541,12.1757246 C18.3639617,12.5828436 17.7313944,12.6103465 17.3242754,12.2371541 L12.0300757,7.38413782 L6.70710678,12.7071068 Z', fill='#000000', fill-rule='nonzero')
    // end::Svg Icon
#deleteModal.modal.fade(tabindex='-1', role='dialog', data-backdrop='static', data-keyboard='false')
  .modal-dialog.modal-dialog-centered(role='document')
    .modal-content
      .modal-header
        h5#exampleModalCenterTitle.modal-title Add color Bar
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
      .modal-body
        .d-flex.justify-content-between
          p.ml-3(style='font-size: 15px; font-weight: bold;') Color
          .d-flex
            p(style=' font-size: 15px; font-weight: 900; margin-left: 10px;') Color Picker
            .examples(style='margin-left: -110px; ')
              .example.sqaure
                input.oncolor2(type='text', value='green', style='opacity: 0;', data-coloris='')
        input.ml-2.appencolo2.form-control(style='background-color: #bababa; color: black; padding: 0px 10px !important; outline: 0; border: 0;')
        .ml-3.mt-3
          p(style='font-weight: bold; font-size: 15px;') Name
          input.form-control(type='text')
      .modal-footer
        button.btn.butas(type='button', style='background-color: #f6d444; color: white', data-dismiss='modal') Add


.modalssbackdrop.d-none
// end::Scrolltop
// end::User Panel

// end::Global Config
// begin::Global Theme Bundle(used by all pages)
script(src='https://unpkg.com/axios/dist/axios.min.js')
script(type="module", src="/js/index.js")
script(src='https://code.jquery.com/jquery-1.12.4.js', integrity='sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU=', crossorigin='anonymous')
script(src='js/plugins/global/plugins.bundle8bf5.js?v=7.2.4')
script(src='js/plugins/custom/prismjs/prismjs.bundle8bf5.js?v=7.2.4')
script(src='js/js/scripts.bundle8bf5.js?v=7.2.4')
script(src='https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js')
script(src='https://cdn.datatables.net/1.11.3/js/dataTables.bootstrap4.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.9/js/dataTables.responsive.min.js')
script(src='https://cdn.datatables.net/responsive/2.2.9/js/responsive.bootstrap4.min.js')
script(src='js/finalJquery.js')

// end::Global Theme Bundle
// begin::Page Vendors(used by this page)
script(src='js/plugins/custom/fullcalendar/fullcalendar.bundle8bf5.js?v=7.2.4')
// end::Page Vendors
// begin::Page Scripts(used by this page)
script(src='js/js/pages/widgets8bf5.js?v=7.2.4')
script(src='js/coloris.min.js')
// end::Page Scripts
// end::Body
// Mirrored from preview.keenthemes.com/metronic/demo1/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 02 Apr 2021 07:51:57 GMT
